
header{
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
}

i{
    color: $white-normal;
    margin-top: 50px;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $red-light;
    }
}
@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
    
}

.header-button{
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header-button:hover{
    border: 1px solid $red-light;
    background-color: $red-light;   
}

.header-logo{
    width: 20%;
    height: 200px;
    size: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.header-logo img{
width: 500px;
height: 500px;
    
}

@media screen and (max-width: 1080px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 24px;
        }
    }

    .header-logo img{
        width: 300px;
        padding-left: 80%;
        margin-top: 46px;
    }
    
    .header-button{
        display: none;
    }
}