.body {
    background-color: #000;
}
.conteiner{
max-width: 1440px;
margin: 0 auto;
padding: 0 14px;
}

// BG HOME

.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #0000), url('./assets/fundo1.webp');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
    filter: blur(3px);
}

// --------------------------------------------

// HERO ------------------

.hero{
    color: $white-normal;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    font-size: 23px;
    

    h1{
        color: $white-normal;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 76px;
        
    }

    h2{
        color: #0CF2DF;
        font-family: "Exo 2", Sans-serif;
        font-size: 2.5em;
        font-weight: 500; 
        text-transform: uppercase;
        letter-spacing: 4.6px;  
    }

}

.button-contact{
    padding: 14px 28px;
    color: $black-normal; 
    background-color:#0CF2DF;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;  

}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;
    color: $white-normal;
}
@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width: 1080px){
    .hero{
        min-height: 40vh;

        h1{
            font-size: 50px;
        }

        h2 {
            font-size: 1.5em;
        }
    }
    
}

@media screen and (max-width: 480px){
    .hero h1{
        font-size: 40px;

    }
    
    .hero h2{
        font-size: 1.2em;
    }
}

// -------------------------------------------------

// About

.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    background-color: black;
    gap: 14px;
    padding: 34px 14px 64px 114px;

    img{
    
        max-width: 500px;
        border-radius: 30%;
    }
}

.about-content div {
    flex: 1;
   
}
 .about-description{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }
 

    p{
    margin-bottom: 14px;
    line-height: 150%;
    } 

}

@media screen and (max-width: 1080px){
    .about-content img {
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    }
}

.button-sobre {
    padding: 8px 21px;
    color: $black-normal; 
    background-color: #0CF2DF;
    border-radius: 7px;
    font-size:9px;
    font-weight: 600;
    margin: 1px 0;  
    }

.button-sobre:hover {
        animation: scaleButton 0.8s alternate infinite;
    }

    @keyframes scaleButton {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.07);
        }
    }

.cor-span {
    color:#0CF2DF;
    
    
  }
     
.main-pullman {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url('assets/fundo2.jpg');
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
    
}

.main-pullman h2{
    color: #ffffff;
    font-family: "Exo 2", Sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    display: flex;
    justify-content: center;


}  

.main-pullman h3{
    color: #ffffff;
    font-family: "Exo 2", Sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    display: flex;
    justify-content: center;
    

}

.main-pullman span{
    margin-left: 10px;
}

.pullman-content{
    width: 100%;
    height: 100%;
    margin-top: -3%;
    display: flex;
    flex-direction: row;
    align-items: center;
        
        
        
    }

.box-img {
    width: 100%;
    height: 80%;
    padding: 5%;
       
    }

    .box-img:hover{
        animation: scaleButton 0.8s alternate infinite;
    }

@media screen and (max-width: 1080px){
    .main-pullman h2{
        font-size: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    .main-pullman h3{
        font-size: 23px; 
        color: #ffffff;
        font-family: "Exo 2", Sans-serif;
        font-weight: 600;
        margin-top: 1px;
        text-transform: uppercase;
        letter-spacing: 1.0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .main-pullman span{
        margin-left: 7px;
    }

    .main-pullman {
        height: 50%;
    }

    .pullman-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50%;
    }
        
        

        .box-img {
            width: 50%;
            height: 60%;
            
            
           
        }
    }
   
@media screen and (max-width: 1080px){
    .about-content {
        flex-direction: column;
    }

}

.info {
    width: 100%;
    height: 100%;
    background-image: url('./assets/fundo3.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.txt {
    width: 35%;
    height: 90%;
    background-color: #06121e;
    }

.txt h1{
    font-family: 'Roboto', sans-serif;
    color: #0CF2DF;
    font-size: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt p {
    font-family: 'Roboto', sans-serif;
    color: $white-normal;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.txt:hover{
    animation: scaleButton 0.8s alternate infinite;
}

@media screen and (max-width: 1080px){

    .info {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .txt {
        width: 46%;
        height: 90%;
        background-color: #06121e;
        }
    

    .txt h1{
        font-size: 20px;
        display: flex;
        text-align: center;
    }
    .txt p {
        font-family: 'Roboto', sans-serif;
        color: $white-normal;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }

}

.wrapper {
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #000;
    align-items: center;
    height: 100%;
    
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}


.slide-list {
    display: flex;
}

.slide-item {
    cursor: grab;
    flex-shrink: 0;
    padding: 0 10px;
    width: 60vw;
}

.slide-content {
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: #070707 0px 12px 12px;
    position: relative;
}

.slide-image {
    border-radius: 10px;
    width: 100%;
}

.slide-description {
    border-radius: 10px;
    background: linear-gradient(to top, #000, transparent);
    color: #fff;
    position: absolute;
    padding: 30px;
    bottom: 0;
    width: 100%;
}

.slide-description h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 48px;
    position: relative;
    top: 16px
}

.slide-description p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

.slide-nav-button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 36px;
    position: absolute;
    z-index: 1;
}

.slide-nav-previous {
    left: 20px;
    color: #0CF2DF;
}

.slide-nav-next {
    right: 20px;
    color: #0CF2DF;
}

.slide-controls {
    margin: 30px auto 0;
}

.slide-control-button {
    color:#fff;
    background: transparent;
    font-size: 18px;
    margin: 0 5px;
}

.slide-control-button.active {
    color:#0CF2DF;
 
}

@media screen and (max-width: 1080px) {
    
    .wrapper{
        margin-top: -30%;
        margin-bottom: -20%;
    }
    .slide-description {
        padding: 10px;
    }
    
    .slide-description h3 {
        font-size: 24px;
        top: 0;
    }

    .slide-description p {
        display: none;
    }

    .slide-nav-button {
        margin-top: -20px;
        font-size: 28px;
    }
    
    .slide-nav-previous {
        left: 10px;
    }
    
    .slide-nav-next {
        right: 10px;
    }

    .slide-controls {
        margin: 15px auto 0;
    }

    .slide-control-button {
        font-size: 14px;
    }
}


.service{
    width: 90%;
    height: auto;
    background-color: black;
    

    display: flex;
    flex-direction: row;
    justify-content: center;

    }

.service-h1 {
    font-family: "Exo 2" , sans-serif;
    color: #24bbd3;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.box {
    width: 22%;
    height: 50%;
    border: 1px solid red;
    
}



